.pb{
  padding-bottom: 40px !important;
}
.pt{
  padding-top: 40px !important;
}
.pl{
  padding-left: 40px !important;
}
.pr{
  padding-right: 40px !important;
}

.logo{
  background-color: #5CBAFF;
  padding: 40px;
  height: 100%
}
.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
    min-height: 100%;
}
.form-content {
    background-color: #0093FF;
}
.form-content .form-items {
    max-width: 340px;
    text-align: left;
}
.form-content .form-items {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
}
.form-content p {
    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}
.form-content .page-links {
    margin-bottom: 34px;
}

.form-content .page-links a.active {
    font-weight: 700;
}
.form-content .page-links a {
    color: #fff;
}
.form-content .page-links a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    /*font-size: 15px;*/
    margin-right: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.form-content .page-links a:after {
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -10px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-content form {
    margin-bottom: 30px;
}

.form-content .form-button {
    margin-top: 30px;
    margin-bottom: 25px;
}
.form-content .form-button .ibtn {
    background-color: #fff;
    color: #29A4FF;
    -webkit-box-shadow: 0 0 0 rgb(0 0 0 / 16%);
    box-shadow: 0 0 0 rgb(0 0 0 / 16%);
}
.form-content .form-button a {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}
.form-content .other-links span {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    margin-right: 20px;
}
.form-content .other-links a {
    /*font-size: 12px;*/
    font-weight: 700;
    color: #fff;
    margin-right: 10px;
}
.test {
    position: absolute;
    top:30%;
    left:23%;
}
@media only screen and (min-device-width: 320px) {
      
    .test {
        position: relative;
        top:30%;
        left:4%;
        padding-bottom: 45px;
    
}
    }
@media only screen and (min-device-width: 320px) {
       /* styles for mobile browsers smaller than 480px; (iPhone) */
       .form-content .form-items,.form-button, .digi-logo{
        padding: 0 !important;
       }
       .login-para{
        padding-top: 10px !important;
        padding-bottom: 0 !important;
       }

    }


    