/*------------------------------------------------------------------

[Custom Stylesheet]


Last change:	03/25/2013
Assigned to:	You

-------------------------------------------------------------------*/
.panel-body{
  min-height: 70px;
  max-height: 70px;
}

.font-20{
  font-weight:600;font-size:20px;

}
.font-16{
  font-weight:600;
  font-size:16px;

}
.text-center{
  text-align: center;
  text-align: -moz-center;
}
.p-10{
  padding:10px;
}

.text-black{
  color:#111;
}

.widget-header{
    /* background: #da0e92; */
    /*background: #E42275;*/

  }

.card_style{
      border:2px solid #da0e92;
      border-radius: 10px;
      padding:5px;
      text-align:center;
  }

  .ml-4{
      margin-left:4px;
  }

  a{
      text-decoration: none;
  }

.text-white{
    color: #FFF;
}

.radioStyle{
    margin:5px;
}

.bg-white{
    background-color:white;
}
.border-0{
    border:none;
}

.mt-5{
    margin-top:5px;
}
.maxHeight500{
    max-height:500px;
    min-height:500px;
    overflow:auto;
}
.maxWidth100{
    max-width:100px;
    min-width:100px;
    overflow:auto;
}
.maxWidth200{
    max-width:200px;
    min-width:200px;
    overflow:auto;
}
.border-r{
    border-right : 1px solid grey;
}
.border-all{
    border:0.5px solid black;
}

.d-flex{
  display: flex;
}

.panelShortCut{
  width: 200px;
  display: inline-block;

  margin: 0 5px 1em;
  vertical-align: top;
  text-decoration: none;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);

  box-sizing: border-box;
  border-radius: 5px;
}

a.panelShortCut:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

a.shortcut:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.panelImagesShortCut{
  width: 300px;
  display: inline-block;

  margin: 0 5px 1em;
  vertical-align: top;
  text-decoration: none;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);

  box-sizing: border-box;
  border-radius: 5px;
}

.br-round{
  border-radius:10px;
  border : 1px solid black;
}
marquee{
  text-align: center;
}


.table_my{
  text-align:left; margin:10px; line-height:30px; }

  /* Index Page styles */
  .shortcuts .shortcut .label{
          position: relative;
            padding: 8px;
            top: -25px;
            right: -50px;

  }
  .width-adj{

  }
  .label-important{
     background: #f74d4d;
     color: #fff;
     font-size: 13px;
  }
  .nowrap{
      white-space: nowrap;
  }
  .title_styles{
        display: block;
        /* border: 1px solid; */
        background: #f9edf3;
        border-radius: 10px;
        padding: 5px;
    }
  /* End of Index Page */
  /* start  */

.panel_sehotcut_2{
    width: 200px;
    height: 100px;
    display: inline-block;

    margin: 0 5px 1em;
    padding: 10px;
    vertical-align: top;
    text-decoration: none;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);

    box-sizing: border-box;
    /*border-radius: 5px;*/
    background: rgb(43, 135, 217);
    text-decoration:none;
}
a.panel_sehotcut_2:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  color:white;
  background: rgb(100, 100, 100);
}
.text-left{
  text-align: left;
}
.dashb_icon{
  font-size: 40px;
  margin-bottom: 10px;
}

.dashb_text{
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.m-t-5{
  margin-top:5px;
}

.m-3{
  margin : 3px;
}

.m-5{
  margin : 5px;
}

.m-r-5{
  margin-right: 5px;
}

.m-l-15{
  margin-left: 10%;
}